html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono'
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#msg {
    padding: 0;
    color: #c4c4c4c4;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    padding-left: 10px;
    position: relative;
    display: flex;
    height: calc(100% - 50px);
}

.msg-options {
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    border-right: 1px solid #c4c4c434;
    transition: .6s;
    overflow-y: auto;
    height: 100%;
    position: relative;
    top: 0;
    opacity: 0;
    transition: .6s;
}

#msg:hover .msg-options{
    width: 578px;
    opacity: 1;
}

#msg:hover #msg-users {
    width: calc(100% - 578px);
}

.msg-options::before {
    content:"";
    position: absolute;
    right: 3px;
    top: 0;
    height: 100vh;
    width: 1px;
    background: #0080BAc4;
}

.msg-options ul {
    padding: 0;
    margin: 0;
    list-style: none !important;
    border-bottom: 1px solid #c4c4c424;
    padding: 6px;
    margin-bottom: 6px;
}

.msg-options ul li button {
    background: #c4c4c454;
    color: #ffffffaa;
    border: unset;
    padding: 2px 12px;
}

#karir-options {
    display: flex;
    gap: 6px;
    min-width: 500px;
}

#msg-users {
    overflow-y: auto;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    transition: .6s;
}

#user-actions {
    display: flex;
    gap: 8px;
    padding: 10px;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#user-action-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textbox {
    flex: 1;
    padding: 0;
    background: unset !important;
    color: #c4c4c4;
    font-size: 10px;
    border: unset !important;
    outline: unset !important;
}

#ws-select {
    background: #111;
    color: #c4c4c4;
    border: 1px solid #333;
    font-size: 10px;
    padding: 4px;
}

#game-con {
    min-width: 500px;
}

#game-con li {
    position: relative;
    background: #c4c4c41a;
    display: block;
    padding: 4px;
    width: 40px;
    border-radius: 0 8px 8px 0;
    text-align: center;
    margin: 2px 0;
}

#game-drawer-lock {
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 100vh;
    background: #ffffff1a;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    transition: .4s;
}

#game-drawer-lock:hover {
    background: #ffffff5a;
}